.head-container {
  color: white;
  @include inline-flexbox(center, center);
  width: 100%;
  margin-top: 10px;

  .head-border-container {
    @include inline-flexbox(start, center);
    height: 50px;
    border-radius: 10px;
    width: 90%;
    background-color: #000000;
    .head-border-title {
      margin-left: 10px;
    }
    gap: 10px;
  }
}
