.Main {
  width: 66%;
  margin: 0 auto;
  background-color: #f1f1f5;
}

/*ㅡㅡㅡ배너ㅡㅡㅡ*/
.banners {
  position: relative;
  max-width: 100%;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
}

.banner-arrow {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: rgba(115, 115, 115, 0.3);
  border-radius: 50%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  @include inline-flexbox(center);
}

.banner-arrow:hover {
  background-color: rgba(115, 115, 115, 0.5);
}

.banner-arrow.left-arrow {
  left: 10px;
}
.banner-arrow.right-arrow {
  right: 10px;
}

.banner:hover .banner-arrow {
  opacity: 1;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.image-container {
  width: 100%;
  padding-top: 50%; /* 960x480 비율을 유지하기 위한 패딩 (480/960 = 0.5 = 50%) */
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover; /* 비율을 유지하면서 컨테이너에 맞게 */
}

.dots {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #717171;
}

/*ㅡㅡㅡ게시글ㅡㅡㅡ*/
