.postList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Wrapper {
  align-items: center;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleBox {
  display: flex;
  gap: 10px;
  margin-bottom: 3px;
  align-items: center;
}

.postTitleWrapper {
  display: flex;
}

.postItem {
  border-bottom: 0.5px solid #999999;
  padding: 16px 0;
  display: flex;
}
.postItem:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.postImg {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 12px;
  flex-shrink: 0;
}

.postTag {
  display: block;
  background-color: #000000;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.postTitle {
  display: block;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  max-width: 220px;
}

.postComments {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-left: 16px;
  color: #1ad2a6;
  flex-shrink: 0;
}

.postInfo {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #888888;
  gap: 4px;
}

.postInfo span {
  margin: 0 4px;
}

.viewsIcon {
  height: 14px;
  transform: translateY(2.5px);
}

.postViews {
  transform: translateY(-1.5px);
}

.postLikes {
  transform: translateY(-1.5px);
}

.likesIcon {
  margin-left: 4px;
  transform: translateY(3.5px);
}
