.Auth {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  background-color: #f1f1f5;
}

.wrap {
  margin: 16px auto;
  @include inline-flexbox(center);
  position: relative;
}

.h2_wrap {
  margin: 150px auto;
  @include inline-flexbox(center);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 57px;
}

.kakaoLogin,
.googleLogin {
  display: flex;
  @include inline-flexbox(center);
  width: 360px;
  height: 54px;
  border-radius: 6px;
}

.kakaoLogin {
  background-color: #fee500;
  position: relative;
}

.googleLogin {
  background-color: #fff;
  position: relative;
}

.latestLogin-k,
.latestLogin-g {
  position: absolute;
  color: #fdfdfd;
  background-color: #555;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 500;
  right: 20px;
}

.kLogo,
.gLogo {
  margin-right: 12px;
}

.nonMem_p {
  color: #777;
  background-color: #f1f1f5;
  margin-top: 16px;
  margin-right: 8px;
}

.nonMem {
  color: #111;
  text-decoration: underline;
  font-weight: 600;
  background-color: #f1f1f5;
  margin-top: 16px;
}