/* club.css */
.club-container {
  width: 66.7%;
  margin: 40px auto;
  border-radius: 16px;
  background: #fbfbfb;
  @include column-flexbox(start, center);
}
// header
.club-header {
  display: flex;
  @include inline-flexbox(between, center);
  padding: 27px 32px 26px 32px;
  width: 100%;
}

.club-header-name {
  color: #111;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.5px;
}

.club-header-writebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #7d7d7d;
  background: #333;
  color: white;
  margin-top: 5px;
}
// filter
.club-filter-container {
  width: 896px;
  height: 52px;
  @include inline-flexbox(between, center);
  padding: 20px;
  border-radius: 32px;
  border: 1px solid #ebebeb;
  background: #fdfdfd;
  color: #111;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: -0.35px;
}
.club-filter-left-container {
  @include inline-flexbox(start, center);
  gap: 16px;
}
.club-filter-right-container {
  @include inline-flexbox(end, center);
}
.club-filter-select-container {
  @include inline-flexbox(center, center);
  position: relative;
  border-radius: 20px;
  border: 1px solid #bbb8b8;
  padding: 6px 12px;
  gap: 10px;
  height: auto;
}

.club-filter-selected {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.35px;
}

.club-filter-select-button {
  cursor: pointer;
}

.club-filter-select-dropdown-container {
  position: absolute;
  top: 100%; /* 태그의 바로 아래에 위치하도록 설정 */
  left: 50%; /* 태그의 가운데에 맞추기 위해 left 50%로 설정 */
  transform: translateX(
    -50%
  ); /* 드롭다운의 가운데가 태그의 가운데와 맞추도록 조정 */
  display: flex;
  width: 89px;
  padding: 8px 0px;
  @include column-flexbox(center, center);
  gap: 6px;
  border-radius: 12px;
  border: 1px solid #bbb8b8;
  background: #fdfdfd;
}

.club-filter-select-dropdown-list {
  color: #111;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.35px;
  cursor: pointer;
}

.club-filter-select-dropdown-list-hr {
  border: none;
  border-top: 1px solid #bbb8b8;
  width: 89px;
  margin: 0;
}
.club-filter-tag-container {
  @include inline-flexbox(center, center);
  position: relative;
}
.club-filter-tag-list-container {
  @include inline-flexbox(between, center);
  gap: 6px;
}
.club-filter-tag-list {
  display: inline-flex;
  padding: 6px 12px;
  border-radius: 16px;
  border: 1px solid #bbb8b8;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.35px;
  cursor: pointer;
  position: relative;
}

.club-filter-tag-list-selected {
  position: relative;
  display: inline-flex;
  padding: 6px 12px;
  border-radius: 16px;
  border: 1px solid #bbb8b8;
  background: #111;
  color: #fdfdfd;
  font-size: 14px;
  font-family: PretendardBold;
  font-weight: 700;
  line-height: 19.6px;
  letter-spacing: -0.35px;
  cursor: pointer;
}
//calendar
.club-filter-calendar-container {
  position: absolute;
  margin-top: 30px;
  margin-left: -10px;
  transform: translateX(-40%);
}
//location
.club-filter-location-dropdown-container {
  position: absolute;
  margin-top: 310px;
  transform: translateX(-29%);
  width: 400px;
  height: 271px;
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid #bbb8b8;
  background: #fdfdfd;
  @include inline-flexbox(start, start);
  padding: 16px 16px;
}

.club-filter-location-left-container,
.club-filter-location-right-container {
  flex: 1;
  padding-right: 8px;
  overflow-y: auto;
  height: 100%;
}

.club-filter-location-header {
  color: #111;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.6px;
  letter-spacing: -0.35px;
  padding-bottom: 15px;
}

.club-filter-location-list {
  display: flex;
  flex-direction: column;
}

.club-filter-location-item {
  padding: 8px;
  cursor: pointer;
  color: #111;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.3px;
  white-space: nowrap;
  height: 23px;
  @include inline-flexbox(start, center);
}

.club-filter-location-item-selected {
  color: #fdfdfd;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.3px;
  padding: 8px;
  cursor: pointer;
  background: #74b0d9;
  text-decoration-line: underline;
  height: 23px;
  @include inline-flexbox(start, center);
  width: 95%;
}

.club-filter-location-left-container {
  border-right: 1px solid #c1c1c1;
  overflow-y: hidden;
}
.club-filter-location-right-container {
  overflow-y: hidden;
  margin-left: 16px;
}
/* 시/도 리스트 컨테이너 */
.club-filter-location-left-container .club-filter-location-list {
  max-height: calc(100% - 40px); /* 헤더 공간을 제외한 높이 설정 */
  overflow-y: auto; /* 시/도 리스트에 스크롤 가능하도록 설정 */
}

/* 시/군/구 리스트 컨테이너 */
.club-filter-location-right-container .club-filter-location-list {
  max-height: calc(100% - 40px); /* 헤더 공간을 제외한 높이 설정 */
  overflow-y: auto; /* 시/군/구 리스트에 스크롤 가능하도록 설정 */
}
/* 스크롤바 기본 디자인 유지, 범위가 보이지 않도록 설정 */
.club-filter-location-left-container::-webkit-scrollbar,
.club-filter-location-right-container::-webkit-scrollbar,
.club-filter-location-list::-webkit-scrollbar {
  width: 6px; /* 스크롤바의 너비 */
}

.club-filter-location-left-container::-webkit-scrollbar-track,
.club-filter-location-right-container::-webkit-scrollbar-track,
.club-filter-location-list::-webkit-scrollbar-track {
  background: #c4c4c4;
  border-radius: 15px;
}

.club-filter-location-left-container::-webkit-scrollbar-thumb,
.club-filter-location-right-container::-webkit-scrollbar-thumb,
.club-filter-location-list::-webkit-scrollbar-thumb {
  background: #888; /* 손잡이 색상 */
  border-radius: 15px; /* 모서리 둥글게 설정 */
}

.club-filter-location-left-container::-webkit-scrollbar-thumb:hover,
.club-filter-location-right-container::-webkit-scrollbar-thumb:hover,
.club-filter-location-list::-webkit-scrollbar-thumb:hover {
  background: #555; /* 손잡이 호버 상태 색상 */
}
//cost
.club-filter-cost-dropdown-container {
  position: absolute;
  margin-left: 15%;
  margin-top: 255px;
  display: flex;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #bbb8b8;
  background: #fdfdfd;
}

.club-filter-cost-option-container {
  @include column-flexbox(center, start);
  gap: 12px;
  color: #111;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  letter-spacing: -0.3px;
}

.club-filter-cost-option {
  display: flex;
  align-items: center;
  position: relative;
}

.club-filter-cost-option input[type='radio'] {
  position: absolute;
  opacity: 0;
  position: relative;
  border: 1px solid #c0c0c0; /* Border color */
  border-radius: 50%;
  padding-left: 30px;
  width: 16px;
  height: 16px;
}

.club-filter-cost-option input[type='radio'] + span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #c0c0c0; /* Border color */
  border-radius: 50%;
  background-color: #fff;
}
.club-filter-cost-option input[type='radio']:checked + span::before {
  background-color: #74b0d9; /* 선택된 상태의 배경 색상 */
  border-color: #74b0d9; /* 선택된 상태의 테두리 색상 */
}
.club-filter-cost-apply-button {
  border-radius: 4px;
  border: 1px solid #c0c0c0;
  background: var(--icon-default, #f2f2f2);
  width: 167px;
  height: 28px;
  flex-shrink: 0;
  @include inline-flexbox(center, center);
  color: var(--kakao-logo, #000);
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.35px;
}
.club-filter-cost-custom-input {
  @include inline-flexbox(between, center);
  gap: 5px;
}

.custom-input {
  width: 64px;
  height: 25px;
  border: 1px solid #d7d7d7;
  color: #555;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.25px;
  padding-left: 3px;
}

.custom-input::placeholder {
  text-align: right;
}
.custom-input::-webkit-outer-spin-button,
.custom-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.club-filter-member-dropdown-container {
  position: absolute;
  margin-left: 50%;
  margin-top: 255px;
  display: flex;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #bbb8b8;
  background: #fdfdfd;
}
//search
.club-filter-search-container {
  @include inline-flexbox(between, center);
  position: relative;
  gap: 10px;
}

.club-filter-search-select-container {
  @include inline-flexbox(center, center);
  border-radius: 20px;
  border: 1px solid #bbb8b8;
  padding: 6px 12px;
  width: 62px;
}

.club-filter-search-select-selected {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.35px;
}

.club-filter-search-select-dropdown-container {
  position: absolute;
  top: 35px;
  display: flex;
  width: 89px;
  padding: 8px 0px;
  @include column-flexbox(center, center);
  gap: 6px;
  border-radius: 12px;
  border: 1px solid #bbb8b8;
  background: #fdfdfd;
  left: 0;
}

.club-filter-search-select-dropdown-list {
  color: #111;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.35px;
  cursor: pointer;
}
.club-filter-search-select-dropdown-list-hr {
  border: none;
  border-top: 1px solid #bbb8b8;
  width: 89px;
  margin: 0;
}
.club-filter-search-input-container {
  display: flex;
  @include inline-flexbox(start, center);
  border-radius: 20px;
  border: 1px solid #bbb8b8;
  background: #fdfdfd;
  width: 216px;
  padding: 7px 0px 7px 10px;
  gap: 13px;
}
.club-filter-search-input-icon {
  width: 18px;
  height: 18px;
}
.club-filter-search-input {
  color: #999;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.3px;
}

// postlist
.club-postlist-container {
  display: flex;
  width: 896px;
  @include column-flexbox(center, start);
  border-radius: 8px;
  border: 1px solid #efefef;
  margin-top: 20px;
}
.club-postist {
  padding: 16px;
  width: 100%;
  gap: 16px;
}

.club-postlist-postitem-post {
  @include inline-flexbox(start, center);
}
.club-postlist-postitem-postimage {
  display: inline;
  width: 42px;
  height: 42px;
  border-radius: 6px;
  margin-right: 12px;
}
.club-postlist-postitem-postbox-titlebox {
  display: flex;
  gap: 8px;
  margin-bottom: 3px;
  width: 100%;
}

.club-postlist-postitem-postbox-titlebox-tag {
  background-color: #000000;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
}

.club-postlist-postitem-postbox-titlebox-title {
  color: #111;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.4px;
}

.club-postlist-postitem-postbox-titlebox-comments {
  color: #1ad2a6;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: -0.4px;
  margin-left: 8px;
}

.club-postlist-postitem-infobox {
  display: flex;
  @include inline-flexbox(start, center);
  font-size: 10px;
  color: #888888;
  gap: 4px;
}

.club-postlist-postitem-infobox-view-icon {
  width: 10px;
  height: 7px;
}

.club-postlist-postitem-infobox-like-icon {
  width: 14px;
  height: 14px;
}
.club-postlist-postitem-ad {
  @include inline-flexbox(start, center);
}

.club-postlist-postitem-adimage {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 6px;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
  margin-right: 12px;
}
.club-postlist-ad-adbox-titlebox {
  display: flex;
  gap: 8px;
  margin-bottom: 3px;
  width: 100%;
}
.club-postlist-ad-adbox-titlebox-tag {
  background-color: #000000;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
}
.club-postlist-ad-adbox-titlebox-title {
  color: #111;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.4px;
}
.club-postlist-ad-adbox-infobox {
  display: flex;
  @include inline-flexbox(start, center);
  font-size: 10px;
  color: #888888;
  gap: 16px;
  margin-top: 0px;
}
.club-postlist-ad-adbox-infobox-nickname {
  color: #888;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.25px;
}
.club-postlist-ad-adbox-infobox-link {
  color: #555;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.3px;
  text-decoration-line: underline;
  cursor: pointer;
}
.club-postlist-divider {
  border: 0;
  border-top: 1px solid #d7d7d7;
  margin: 15px 0;
}

// pgaenation
.club-pagination-container {
  display: flex;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  @include inline-flexbox(center, center);
}
.club-pagination-box {
  @include inline-flexbox(between, center);
  gap: 12px;
}
.club-pagination-page {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: -0.35px;
  display: flex;
  width: 28px;
  height: 28px;
  @include inline-flexbox(center, center);
  cursor: pointer;
}
.club-pagination-selectedpage {
  border-radius: 100px;
  background: #111;
  color: #fdfdfd;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: -0.35px;
  display: flex;
  width: 28px;
  height: 28px;
  @include inline-flexbox(center, center);
  cursor: pointer;
}

.club-pagination-nexticon-box {
  display: flex;
  width: 28px;
  height: 28px;
  @include inline-flexbox(center, center);
  border-radius: 100px;
  border: 1px solid #e1e1e1;
  cursor: pointer;
}
.club-pagination-nexticon {
  stroke-width: 1px;
  stroke: #9f9f9f;
}

.club-pagination-previcon-box {
  display: flex;
  width: 28px;
  height: 28px;
  @include inline-flexbox(center, center);
  border-radius: 100px;
  border: 1px solid #e1e1e1;
  cursor: pointer;
}
.club-pagination-previcon {
  stroke-width: 1px;
  stroke: #9f9f9f;
  transform: rotate(180deg);
}
