.mypage-container {
  width: 960px;
  height: auto;
  border-radius: 16px;
  background: #fbfbfb;
  @include column-flexbox(start, start);
  margin: 30px auto;
  font-family: Pretendard;
  color: #111;
  font-style: normal;
  padding: 32px 32px;
}
.mypage-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.5px;
  margin-bottom: 26px;
}

.mypage-profile-container {
  @include inline-flexbox(start, center);
  padding: 32px 32px;
  gap: 53px;
  border-radius: 20px;
  border: 1px solid #efefef;
  background: #fdfdfd;
  width: 100%;
}

.mypage-profile-image-wrap {
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
  border-radius: 50%;
  border: 1.5px solid #cdcdcd;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden-file-input {
  display: none;
}

.mypage-profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mypage-profile-info-container {
  @include column-flexbox(start, start);
  gap: 12px;
  user-select: none;
}
.mypage-profile-info-namebox {
  @include inline-flexbox(start, center);
  gap: 20px;
}
.mypage-profile-info-name {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: 33.6px;
}
.mypage-profile-info-edit {
  color: #fdfdfd;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.8px;
  letter-spacing: -0.3px;
  padding: 6px 10px;
  border-radius: 6px;
  background: #74b0d9;
  user-select: none;
  cursor: pointer;
}
.mypage-profile-info-sportsbox {
  @include inline-flexbox(start, center);
  gap: 6px;
}
.mypage-profile-info-sport-icon {
  background-color: #111;
  border: 2px solid #111;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
.mypage-profile-info-sport-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: -0.4px;
}
.mypage-profile-info-activitybox {
  @include inline-flexbox(start, center);
  gap: 16px;
  user-select: none;
}

.mypage-profile-info-activity-followingbox,
.mypage-profile-info-activity-followerbox,
.mypage-profile-info-activity-clubbox {
  @include inline-flexbox(start, center);
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.4px;
}
.mypage-profile-info-activity-followingnumber,
.mypage-profile-info-activity-followernumber,
.mypage-profile-info-activity-clubnumber {
  color: #74b0d9;
}
.mypage-detail-container {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #efefef;
  background: #fdfdfd;
  margin-top: 20px;
  @include inline-flexbox(start, start);
  padding: 16px 16px;
}
.mypage-detail-left-container {
  @include column-flexbox(start, start);
  margin-right: 14px;
}

.mypage-detail-left-list {
  @include inline-flexbox(start, center);
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.4px;
  width: 90px;
  user-select: none;
}
.mypage-detail-left-list-selected {
  @include inline-flexbox(start, center);
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.4px;
  border-radius: 12px;
  background: #ddd;
  width: 90px;
}
.mypage-detail-right-container {
  border-radius: 20px;
  border: 1px solid #efefef;
  background: #fdfdfd;
  width: 100%;
  padding: 12px 12px;
}

.selected-activity {
  box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1);
}

.tag-container {
  @include inline-flexbox(start, center);
  margin-bottom: 20px;
  color: #111;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.3px;
  gap: 6px;
}
.tag-list {
  @include inline-flexbox(center, center);
  padding: 5px 10px;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #bbb8b8;
  width: max-content;
  user-select: none;
  cursor: pointer;
}
.tag-list-selected {
  @include inline-flexbox(center, center);
  padding: 5px 10px;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #bbb8b8;
  color: #fdfdfd;
  font-weight: 600;
  background: #111;
  width: max-content;
  user-select: none;
  cursor: default;
}

.mypage-pagination-container {
  display: flex;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 12px;
  @include inline-flexbox(center, center);
}

.contents-post-container {
  @include column-flexbox(start, start);
}

.contents-post-list-container {
  width: 100%;
  @include inline-flexbox(between, center);
  padding: 8px 8px;
  user-select: none;
  &:not(:last-child) {
    border-bottom: 1px solid #d7d7d7;
  }
}

.contents-post-icon {
  min-width: 18px;
  min-height: 18px;
  margin-right: 4px;
  white-space: nowrap;
}
.contents-post-details,
.contents-post-box {
  @include inline-flexbox(start, center);
  max-width: 400px;
}

.contents-post-box {
  cursor: pointer;
}

.contents-post-sport,
.contents-post-board {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.6px;
  letter-spacing: -0.35px;
  white-space: nowrap;
}
.contents-post-title {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.35px;
  margin-left: 3px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: box;
  line-clamp: 1;
  box-orient: vertical;
}
.contents-post-comments-count {
  color: #1ad2a6;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.6px;
  letter-spacing: -0.35px;
  margin-left: 12px;
}

.contents-post-info {
  display: flex;
  gap: 4px;
  color: #888;
  text-align: right;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.3px;
}

.contents-no-post-list-container {
  width: 100%;
  height: 220px;
  @include column-flexbox(center);
  user-select: none;
}

/***ㅡㅡㅡ댓글컴포넌트ㅡㅡㅡ***/
.contents-comment-container {
  @include column-flexbox(start, start);
}

.contents-comment-list-container {
  width: 100%;
  @include inline-flexbox(between, center);
  padding: 8px 8px;
  user-select: none;
  &:not(:last-child) {
    border-bottom: 1px solid #d7d7d7;
  }
}

.contents-comment-list-container-1 {
  cursor: pointer;
}

.contents-comment {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  max-width: 540px;
  max-height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: box;
  line-clamp: 2;
  box-orient: vertical;
}

.contents-comment-post {
  display: flex;
  white-space: nowrap;
  color: #888;
  font-size: 13px;
  font-weight: 600;
  max-width: 400px;
}

.contents-comment-post-title {
  font-weight: 400;
  margin-left: 2px;
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contents-comment-list-container-2 {
  color: #888;
  font-size: 12px;
  font-weight: 400;
}

.contents-no-comment-list-container {
  width: 100%;
  height: 220px;
  @include column-flexbox(center);
  user-select: none;
}

/***ㅡㅡㅡ소모임 컴포넌트ㅡㅡㅡ***/

.contents-club-list-container {
  display: flex;
  width: 100%;
  padding: 8px 8px;
  user-select: none;
  &:not(:last-child) {
    border-bottom: 1px solid #d7d7d7;
  }
}

.contents-no-club-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 8px;
  user-select: none;
}

.contents-no-club-list-container p {
  width: 100%;
  height: 220px;
  @include column-flexbox(center);
  user-select: none;
}

.contents-club-head {
  display: flex;
  width: 100%;
  padding: 8px 8px;
  user-select: none;
  background-color: #74b0d9;
  color: #fdfdfd;
  font-size: 12px;
  font-weight: 400;
}

.contents-club-head-1 {
  width: 60%;
  @include inline-flexbox(center);
}
.contents-club-head-2 {
  width: 10%;
  @include inline-flexbox(center);
}
.contents-club-head-3 {
  width: 20%;
  @include inline-flexbox(center);
}
.contents-club-head-4 {
  width: 10%;
  @include inline-flexbox(center);
}

.contents-club-box {
  display: flex;
  max-width: 370px;
}

.contents-club-details {
  width: 60%;
}

.contents-club-icon,
.contents-club-sport,
.contents-club-title {
  vertical-align: middle;
}

.contents-club-icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  white-space: nowrap;
}

.contents-club-sport {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.6px;
  letter-spacing: -0.35px;
  white-space: nowrap;
  margin-right: 2px;
}

.contents-club-title {
  margin-left: 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  max-width: 320px;
  max-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: box;
  line-clamp: 1;
  box-orient: vertical;
}

.contents-club-location {
  width: 10%;
  color: #888;
  font-size: 12px;
  font-weight: 400;
  @include inline-flexbox(center);
}
.contents-club-leader {
  width: 20%;
  color: #888;
  font-size: 12px;
  font-weight: 400;
  @include inline-flexbox(center);
}

.contents-club-time {
  width: 10%;
  color: #888;
  font-size: 12px;
  font-weight: 400;
  @include inline-flexbox(center);
}

/***ㅡㅡㅡ팔로워/팔로잉컴포넌트ㅡㅡㅡ***/
.Following {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  user-select: none;
}

.following-head {
  display: flex;
  gap: 3px;
  color: #111;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}

.following-head span {
  color: #74b0d9;
  font-size: 14px;
  font-weight: 700;
}

.following-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

.following-item {
  width: 134px;
  height: 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  box-shadow: 0px 1px 10px 0px #00000025;
  border-radius: 16px;
}

.following-item-profile img,
.following-item-profile svg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 6px;
}

.following-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.following-item-nickname {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}

.following-item-sport {
  display: flex;
  color: #111;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 6px;
}
.following-item-sport-svg {
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;

  svg {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.following-item-stats {
  display: flex;
  gap: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #111;
  white-space: nowrap;
}
.following-item-stats span {
  color: #74b0d9;
  font-size: 12px;
  font-weight: 500;
}

.no-followers p {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 220px;
  @include column-flexbox(center);
  user-select: none;
}

/***ㅡㅡㅡ알림 컴포넌트ㅡㅡㅡ***/
.no-notifications {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 220px;
  @include column-flexbox(center);
  user-select: none;
}

.notification-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 16px;
  border: 1px solid #efefef;
  box-shadow: 0px 1px 10px 0px #00000025;
  user-select: none;
}

.notification-item:last-child {
  margin-bottom: 0;
}

.notification-item.read .notification-content {
  color: #999;
}

.notification-content-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.notification-content-title {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  color: #111;
}

.notification-content-title span {
  color: #74b0d9;
  margin-right: 3px;
}
.notification-content-date {
  font-size: 12px;
  font-weight: 400;
  color: #888888;
}

.notification-contents {
  color: #111;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 6px;
}

.notification-content span {
  font-weight: 600;
}

.disabled {
  pointer-events: none;
  color: #999;
}
.notification-item.read .notification-content,
.notification-item.read .notification-content-title,
.notification-item.read .notification-content-title span {
  color: #999 !important;
}

.notification-content-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-content-src {
  color: #888888;
  font-size: 12px;
  font-weight: 400;
}

.notification-content-src span {
  font-weight: 600;
}

.notification-actions {
  display: flex;
  gap: 8px;
}

.notification-actions button {
  background-color: #fdfdfd;
  color: #888;
  font-size: 12px;
  font-weight: 400;
}

/***ㅡㅡㅡ소모임 모달ㅡㅡㅡ***/

.modal-request {
  width: 424px;
  height: 425px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fdfdfd;
  border: 1px solid #efefef;
  border-radius: 8px;
  padding: 32px;
  user-select: none;
}

.request-modal-back {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.request-head {
  display: flex;
  justify-content: space-between;
}

.request-head > h1 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 32px;
}

.request-head > button {
  background-color: #fdfdfd;
  transform: translateY(-17px);
}

.request-nickname > p,
.request-content > p,
.request-reason > p {
  font-size: 16px;
  font-weight: 600;
  margin-right: 16px;
}

.request-content-in {
  display: block;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  max-width: 300px;
}

.request-nickname,
.request-content {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.request-info {
  width: 100%;
  background-color: #e9e9e9;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding: 8px 12px;
  margin-top: 12px;
  margin-bottom: 40px;
  height: auto;
  min-height: 116px;
  overflow-y: auto;
  resize: none;

  color: #111111;
  font-size: 14px;
  font-weight: 400;
}

.request-btn {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.request-allow,
.request-deny {
  color: #fdfdfd;
  font-size: 16px;
  font-weight: 400;
  background-color: #74b0d9;
  padding: 8px 16px;
  text-align: center;
  border-radius: 5px;
}

/***ㅡㅡㅡ회원정보 수정ㅡㅡㅡ***/
.mypage-modified-profile-container-wrap {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #efefef;
  background: #fdfdfd;
  width: 100%;
}

.mypage-modified-profile-container {
  @include inline-flexbox(start, center);
  padding: 32px 32px;
  gap: 53px;
}

.my-page-modify-btn-profile-img {
  background-color: #fdfdfd;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}

.my-page-modified-setting {
  width: 896px;
  height: 362px;
  padding: 32px;
  align-items: center;
  margin-top: 20px;
  border-radius: 16px;
  border: 1px solid #efefef;
  background-color: #fdfdfd;
}

.my-page-modified-nickWrap {
  margin-bottom: 58px;
}

.my-page-modified-sportsSet,
.my-page-modified-nickSet {
  color: #111;
  font-size: 18px;
  font-weight: 600;
}

.my-page-modified-inputWrap {
  width: 100%;
  margin-top: 12px;
}

.my-page-modified-inputWrap input {
  width: 719.23px;
  height: 48px;
  flex: 1;
  padding: 14px 16px;
  font-size: 16px;
  border: 1px solid #888888;
  border-radius: 8px;
  background-color: #f1f1f5;
  transition: border-color 0.1s, background-color 0.1s;
  box-sizing: border-box;
  margin-bottom: 6px;
}

.my-page-modified-inputWrap input::placeholder {
  color: #999999;
  font-size: 14px;
}

.my-page-modified-inputWrap input:hover {
  outline: none;
  background-color: #e8e8e8;
  border-color: #999999;
}

.my-page-modified-inputWrap input.focused {
  outline: none;
  border-color: #74b0d9;
  background-color: #f1f1f5;
}

.my-page-modified-inputWrap .focused:hover {
  outline: none;
  border-color: #74b0d9;
  background-color: #e3f3ff;
}

.my-page-modified-inputWrap input.error {
  border-color: #ff0000;
  background-color: #ffe6e6;
}

.my-page-modified-inputWrap input.success {
  border-color: #74b0d9;
  background-color: #e3f3ff;
}

.my-page-modified-sportsSetInfo {
  margin-top: 8px;
  margin-bottom: 18px;
  color: #999;
  font-size: 14px;
  font-weight: 500;
}

.my-page-modified-Complete {
  padding: 14px 16px;
  margin-top: 32px;
  border-radius: 8px;
  background-color: #111;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
