.Post {
    width: 66.7%;
    min-width: 950px;
    margin: 0 auto;
    padding: 10px;
    background-color: #f1f1f5;
}

/*ㅡㅡㅡ게시글ㅡㅡㅡ*/
.post-board-btn {
    font-size: 16px;
    font-weight: 600;
    color: #111111;
    background-color: #fbfbfb;
}

.post-content-wrap {
    background-color: #fbfbfb;
    border-radius: 16px;
    padding: 32px;
}

.post-title-wrap {
    margin-top: 8px;
    padding: 24px 0;
    border-bottom: 1px solid #d7d7d7;
}

.post-title-1 {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 15px;
}

.post-title {
    color: #111111;
    font-size: 24px;
    font-weight: 700;
}

.post-tag {
    height: 28px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: 4px 8px;
    padding-top: 5.5px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
}

.post-title-2 {
    display: flex;
    align-items: center;
}

.post-profileImg {
    width: 38px;
    height: 38px;
    margin-right: 12px;
}

.post-profile_btn {
    background-color: #fbfbfb;
    margin-right: 8px;
}

.postNickname {
    font-size: 16px;
    font-weight: 500;
    color: #555555;
}

.post-profileImg,
.postNickname {
    vertical-align: middle;
}

.post-follow {
    color: #fdfdfd;
    font-size: 11px;
    font-weight: 500;
    margin-right: 20px;
    padding: 4px 6px;
    background-color: #74b0d9;
    border-radius: 6px;
}

.post-time,
.post-views {
    font-size: 16px;
    font-weight: 400ss;
    margin-right: 6px;
    color: #888888;
}

.post-content {
    height: auto;
    min-height: 200px;
    margin-top: 32px;
    margin-bottom: 60px;
}

.viewIcon {
    margin-left: 2px;
}

.post-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-btn1 {
    display: flex;
}

.likes-redIcon,
.likes1,
.likes2,
.chatIcon,
.comments1,
.comments2 {
    vertical-align: middle;
}

.post-btn1,
.post-btn2 {
    display: flex;
    align-items: center;
}

.post-likes {
    background-color: #fbfbfb;
    margin-right: 16px;
}

.likes-redIcon,
.chatIcon {
    margin-right: 4px;
}

.likes1,
.comments1 {
    font-size: 12px;
    font-weight: 300;
}

.comments1 {
    margin-right: 4px;
}

.likes2,
.comments2 {
    font-size: 12px;
    font-weight: 700;
}

.post-btn2,
.post-btn2>button {
    background-color: #fbfbfb;
    font-size: 12px;
    font-weight: 400;
}

.modal {
    display: block;
    float: right;
    transform: translateY(-50%);
}

.modal-copyhref {
    position: relative;
    width: 144px;
    height: 33px;
    padding: 0px;
    background: #888888;
    color: #fdfdfd;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    transition: opacity 3s ease-out;
}

// .modal-copyhref:after {
//     content: '';
//     position: absolute;
//     border-style: solid;
//     border-width: 13px 8px 0;
//     border-color: #888888 transparent;
//     display: block;
//     width: 0;
//     z-index: 1;
//     bottom: -13px;
//     left: 103px;
//     transition: opacity 3s ease-out;
// }

.modal {
    opacity: 1 !important;
}

.modal {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 3s ease;

}

// .modal {
//     opacity: 0;
//     transition: opacity 5s ease-out;
// }