/* Board.css */
.board-container {
  width: 66.7%;
  margin: 40px auto;
  border-radius: 16px;
  background: #fbfbfb;
  @include column-flexbox(start, center);
}

.board-header {
  display: flex;
  @include inline-flexbox(between, center);
  padding: 27px 32px 26px 32px;
  width: 100%;
}

.board-header-name {
  color: #111;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.5px;
}

.board-header-writebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #7d7d7d;
  background: #333;
  color: white;
  margin-top: 5px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #ffffff;
}

.board-filter-container {
  width: 896px;
  height: 52px;
  @include inline-flexbox(between, center);
  padding: 20px;
  border-radius: 32px;
  border: 1px solid #ebebeb;
  background: #fdfdfd;
}

.board-filter-select-container {
  @include inline-flexbox(center, center);
  position: relative;
  border-radius: 20px;
  border: 1px solid #bbb8b8;
  padding: 6px 12px;
  gap: 10px;
  height: auto;
}

.board-filter-selected {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.35px;
}

.board-filter-select-button {
  cursor: pointer;
}

.board-filter-select-dropdown-container {
  position: absolute;
  top: 33px;
  display: flex;
  width: 89px;
  padding: 8px 0px;
  @include column-flexbox(center, center);
  gap: 6px;
  border-radius: 12px;
  border: 1px solid #bbb8b8;
  background: #fdfdfd;
}

.board-filter-select-dropdown-list {
  color: #111;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.35px;
  cursor: pointer;
}

.board-filter-select-dropdown-list-hr {
  border: none;
  border-top: 1px solid #bbb8b8;
  width: 89px;
  margin: 0;
}
.board-filter-tag-container {
  @include inline-flexbox(center, center);
}
.board-filter-tag-list-container {
  @include inline-flexbox(between, center);
  gap: 6px;
}
.board-filter-tag-list {
  display: inline-flex;
  padding: 6px 12px;
  border-radius: 16px;
  border: 1px solid #bbb8b8;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.35px;
  cursor: pointer;
}

.board-filter-tag-list-selected {
  display: inline-flex;
  padding: 6px 12px;
  border-radius: 16px;
  border: 1px solid #bbb8b8;
  background: #111;
  color: #fdfdfd;
  font-size: 14px;
  font-family: PretendardBold;
  font-weight: 700;
  line-height: 19.6px;
  letter-spacing: -0.35px;
  cursor: pointer;
}

.board-filter-search-container {
  @include inline-flexbox(center, center);
  position: relative;
  gap: 10px;
}

.board-filter-search-select-container {
  border-radius: 20px;
  border: 1px solid #bbb8b8;
  padding: 6px 12px;
}

.board-filter-search-select-selected {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.35px;
}

.board-filter-search-select-dropdown-container {
  position: absolute;
  top: 35px;
  display: flex;
  width: 89px;
  padding: 8px 0px;
  @include column-flexbox(center, center);
  gap: 6px;
  border-radius: 12px;
  border: 1px solid #bbb8b8;
  background: #fdfdfd;
  left: 0;
}

.board-filter-search-select-dropdown-list {
  color: #111;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.35px;
  cursor: pointer;
}
.board-filter-search-select-dropdown-list-hr {
  border: none;
  border-top: 1px solid #bbb8b8;
  width: 89px;
  margin: 0;
}
.board-filter-search-input-container {
  display: flex;
  @include inline-flexbox(start, center);
  border-radius: 20px;
  border: 1px solid #bbb8b8;
  background: #fdfdfd;
  width: 296px;
  padding: 7px 0px 7px 10px;
  gap: 13px;
}
.board-filter-search-input-icon {
  width: 18px;
  height: 18px;
}
.board-filter-search-input {
  color: #999;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.3px;
}
