@font-face {
  font-family: 'Pretendard';
  src: url('../../assets/font/Pretendard-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'PretendardBold';
  src: url('../../assets/font/Pretendard-Bold.otf') format('opentype');
}

* {
  font-family: 'Pretendard', sans-serif;
}

#root {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #f1f1f5;
}

button {
  cursor: pointer;
}
